<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".bat" #>
@echo off
setlocal
chcp 65001
set path="%USERPROFILE%\AppData\Local\Amazon\Kindle Previewer 3\lib\fc\bin";%path%
kindlegen "<#= _opfFilename #>" -c1 -verbose -locale ja
