@charset "utf-8";

html {
    -webkit-writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    -epub-writing-mode: vertical-rl;
    -epub-text-orientation: mixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

ol li {
    list-style: none;
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;
}

section {
    break-after: page;
    page-break-after: always;
}

p {
    margin-left: 0%;
    margin-right: 0%;
}

span.tcy {
    text-combine-upright: all;
    -webkit-text-combine: horizontal;
    -epub-text-combine: horizontal;
}
